<style>
header {
  display: none;
}
</style>

<div class="accountDetail">
    <p id="sub1">상세내역</p>
    <p id="sub2">00월 00일</p>
</div>

<div class="daily">
    <div class="title-container">
        <p id="sub3">일별통계</p>
        <p id="sub4">총 00건 (인쇄완료 00건, 인쇄불가 00건, 미처리 00건)</p>
    </div>
</div>

<div class="detail">
    <div class="title-container">
        <p id="sub3">거래내역</p>
    </div>
</div>