<style>
#mail {
	width: 10%;
}

.page {
	text-align: center;
	margin-top: 10%;
}

.highlight-pink {
	position: relative;
	display: inline-block;
	z-index: 1;
}

.highlight-pink::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: -3px;
	right: -3px;
	z-index: -1;
	display: inline-block;
	height: 60%;
	background-color: rgba(239, 194, 207, 0.6);
}

@media (max-width: 767px) {
	#mail {
		width: 30%;
	}

	.text {
		font-size: 70%;
		margin-bottom: -10%;
	}
	.highlight-pink {
		font-size: 80%;
	}

}

</style>

<div class="page">
<img src="/mail.png" id="mail"><br><br>
<p class="text">등록하신 이메일에서 인증 버튼을 눌러야 가입이 완료됩니다.</p><br><br>
<h5 class="highlight-pink"><strong>이메일에서 인증 버튼을 눌러주세요!</strong></h5>
</div>