<style>

.pheader{
  display:none;
}

.category{
	border-radius:50%;
	background-color:white;
	height:100px;
	width:100px;
}

</style>



<a href="/home/main"><div class="category print">복사대</div></a> <br>
<div class="category coffee">카페</div> <br>
<div class="category food">음식점</div>


