<style>

.pheader{
  display:none;
}

.category{
	border-radius:50%;
	background-color:white;
	height:100px;
	width:100px;
}

</style>



<a href="/home/main"><div class="category print">복사대</div></a> <br>
<div class="category coffee">커피쇼오오오오옵</div> <br>
<div class="category food">음식저어어어어엄</div>


