<!DOCTYPE html>
<html>
<head>

<link href="/assets/home.css" media="screen" rel="stylesheet" />

<style>


</style>
</head>
<body>
<!-- 
<div>
	<div class="row">
    <div class="column print_list">
    	<div class="filecurrent_title"><a href="/home/filecurrent">신청 내역 보러가기</a></div>
    		<div class="filecurrent_list">
		    	<#% if @uploads.empty? %>
					신청 내역이 없습니다.<br>
				<#% else %>
					<#% @ongoing_upload.each do |x| %>
					   <a href="filedetail/<#%=x.id%>">
					   <div class="filecurrent_card">
					   		<div style="text-align:left">
					   		<b><#%= x.pkupdate %><br>
						   	<#%= x.pkuptime %>  
						   	<#%=x.printer%> 관 <br> </b></div>
						   	<#%= URI.decode(x.attachment_url.split('/').last) %><br>
						   	<#%= x.totalpage %>장 (<#%= x.totalpage*50 %>원)<br>
						   
						  	<#%=x.progress%><br>
						   
					   </div></a>
					<#% end %>
				<#% end %>
			</div>

    </div>
     <div class="column print_upload"></a>
			
			<#%= form_for @upload, url: home_filecreate_path, html: { multipart: true, id: :msform} do |f| %>
				<#%= render partial: "home/fileupload", locals: { upload: @upload, f: f } %>
			<#% end %>
      </div>
      <div class="column print_advertisement">광고 영역</div>
  
  
</div>
</div>
		
<div class="footer"></div>

<a href="/payment/cashflow">포인트 사용 내역</a>

 -->

<div style="display:flex">
	<div class="main_section">
		<div class="file_upload">
			<div class="file_upload_text">
				<div class="web-text">
					<h2>인쇄물 예약하고, 대기 없이 픽업하자!</h2><br>
					<h4>프린트 테이크아웃 서비스 "뽀바드림"</h4>
				</div>
				<img src='/main-image.png' class="main-image">
			</div>
			<div class="file_upload_link">
				<a href="/home/fileupload">
					<button class="custom-button">
						파일업로드
					</button>
				</a>
			</div>
		
		</div>

		<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent">
					<div class="card-gotolist main-icon">
						<img src='/list.svg' style="margin-bottom:30px">신청내역 &nbsp;&nbsp;&nbsp;<span class="badge badge-danger"">4</span>

					</div>
				</a>
			</div>
			<div class="point">
				<a href="/payment/cashflow">
					<div class="card-gotopoint main-icon">
						<img src='/coins.svg' style="margin-bottom:30px"><p><%= current_user.cur_cash %> 포인트 </p>
					</div>
				</a>
			</div>
				
		</div>



	</div>

	<div class="image_section">
		<img src='/main-image.png' style="max-width:100%">

	</div>
</div>



<!-- <div style="display:flex" class="column">
	<div class="main_section" style="width:100vw">
		<div class="file_upload">
			<div class="file_upload_text"><img src='/main-image.png' class="main-image" style="display:block"></div>
			<div class="file_upload_link">
				<a href="/home/fileupload">
					<button class="custom-button">
						파일업로드
					</button>
				</a>
			</div>
		
		</div>
		<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent">
					<div class="card-gotolist">
						<img src='/list.svg' class="main-icon">신청내역 &nbsp;&nbsp;&nbsp;<span class="badge badge-danger"">4</span>

					</div>
				</a>
			</div>
			<div class="point">
				<a href="/payment/cashflow">
					<div class="card-gotopoint">
						<img src='/coins.svg' class="main-icon"><%= current_user.cur_cash %> 포인트 
					</div>
				</a>
			</div>
				
		</div>
	</div>

	
</div>
 -->

</body>
</html>


