<!DOCTYPE html>
<html>
<head>
<!-- 
<link href="/assets/home.css" media="screen" rel="stylesheet" /> -->
<%=stylesheet_link_tag "home"%>
<style>
.max-page{
	background-image:url('/bg-masthead(grad).jpg');
	background-size:cover;
	height:100%;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
}


.main_text{
    text-align: center;
    margin-top: 15%;
}

#main_text{
    font-family: Noto Sans KR;
}
#point_button{
	margin: 0 auto;
}

#list_button{
	margin: 0 auto;
}
.navbar{
	padding-top:0px;
	padding-bottom:0px;
}

.page-footer{
	position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 0 60px;
    background: #f7f7f7;
    text-align: center;
    width: 100%;
}

@media (max-width:1023px){
	.max-page{
		background-image:url('/ipad_main.png');
		background-size:cover;
		height:100%;
		background-repeat: no-repeat;
		background-attachment: scroll;
		background-position: center;
	}
	.navbar{
		padding-top:0px;
		padding-bottom:0px;
	}
	
	#point_button, #list_button, .file_upload_link, .badge{
		margin-top: 10%;
	}

}

</style>
</head>
<body>

<div style="display:flex" class="max-page">
	<div class="main_section">
      	<div class="main_text">
	        <h3 class="font-weight-bold" id="main_text">인쇄물 예약하고,<br>대기없이 픽업하자!</h2><br><br>
	        <h3 id="main_text" id="main_text">프린트 테이크아웃 서비스<br><strong>"뽀바드림"</strong></h3><br>
          <p>*뽀바드림은 크롬에 최적화 되어 있습니다.<br>**반드시 이메일 인증 후에 사용 바랍니다.</p>
        </div>
		<div class="file_upload">
			
			<div class="file_upload_link">
				<a href="/home/fileupload">
					<button class="custom-button">
						파일업로드
					</button>
				</a>
			</div>
		
		</div>

		<div class="list_point">
			<div class="filecurrent_li">
				<a href="/home/filecurrent">
					<img src='/list_btn.png' height="35%" id="list_button">
					<span class="badge badge-danger"><%= @count %></span>
				</a>
			</div>
			<div class="point">
				<a href="/payment/cashflow"><img src='/point_btn.png' height="35%" id="point_button"></a>
			</div>
		</div>


	</div>

</div>
	
  <!-- Footer -->
 <!-- Footer -->


<footer class="page-footer font-small unique-color-dark">

   <!-- <div style="background-color: #6351ce;">
      <div class="container">
        <div class="row py-4 d-flex align-items-center">
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0"></h6>
          </div>

          <div class="col-md-6 col-lg-7 text-center text-md-right">
          </div>
        </div>   
      </div>
    </div>  -->

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">뽀바드림</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>뽀바드림은 짧은 쉬는 시간에 복사대에 대기하는 학생들이 몹시 많다는 문제를 해결하고자 프린트 테이크아웃 서비스를 제공합니다.</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">도움말</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="/home/manual">이용방법</a>
          </p>
          <p>
            <a href="/home/refund">환불규정</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">문의처</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            이메일 : bbobadream1004@gmail.com
          </p>
          <p>
            오픈 카카오톡 문의 : <a href="https://open.kakao.com/o/s74FL2gb">https://open.kakao.com/o/s74FL2gb </a>
          </p>
          

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  </footer>

  <!-- Footer -->
  </body>
</html>

</body>

</html>


