<h1>서강톤_backend</h1>

<% if user_signed_in? %>
<%= current_user.email %>로 로그인되어 있습니다.<br><br>

<a href="/home/fileupload">파일업로드</a>
<a href="/home/filecurrent">신청 현황</a>
<a href="/home/ownerpage">복사대화면</a>
<a href="/home/pointhistory">사용 내역</a>

<%= link_to "로그아웃", destroy_user_session_path %>

<% end %>