
 /*custom font*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,700);
@import url(https://fonts.googleapis.com/css?family=Gamja+Flower|Sunflower:300);


* {
  margin: 0; 
  padding: 0;
  box-sizing:border-box;
}
body { 
  font-family: 'Noto Sans KR', sans-serif;
  background-color:white;
}

.page {
  margin-top: 10%;
}

/* main.html */
.file_upload_link{
  margin-top: 5%;
  display: flex;
  justify-content: center;
}
.filecurrent_card{
  width:90%;
  height:150px;
  border-radius:10px;
  color:black;
  margin: 0 auto;
  margin-bottom:20px;
  background-color:white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding:20px;
}
.filecurrent_card:hover{
  box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2), 0 6px 20px 0 rgba(0,0,0, 0.59);
}

.print_list a{
  text-decoration :none;
  color:black;
}

.filecurrent_title{
  height:50px;
  text-align:center;
}
.logo{
  height:70px;
}

.navbar{
  padding-top:0px !important;
  padding-bottom:0px !important;
  display: flex;
  height: 70px;
  background-color:rgba(255, 255, 255, 0.6);
  text-align: center;
}

.badge{
  position:absolute;
  float:right;
}

.filecurrent_li{
  position:relative;
}
.navbar-brand{
  padding-top:0px;
  padding-bottom:0px;
}
.navbar-brand .logo{
  height:70px;
}
.hamburger .my-2{
  float:right;
}

@media (max-width: 767px) {
  .page {
  margin-top: 20%;
  }

  .badge{
    position:absolute;
    float:right;
  }
}

.status-waiting{
  background-color:rgb(255,205,45);
}
.status-finished{

}

/* PEN STYLES ========== */
	a,
	.side_menu {
		-webkit-transition: all 300ms ease-in-out;
		transition: all 300ms ease-in-out;
	}


/* STAGGER LIST ----- */
	.list_load {
		display: none;
		list-style: none;
		padding: 0;
		margin-top:30px;
	}
	.list_item {
		opacity: 0;
		-webkit-transition: all 200ms ease-in-out;
		transition: all 200ms ease-in-out;
	}
	.list_item a {
		color: #fff;
		display: block;
		padding: 5px 10px;
		text-decoration: none;
	}
	.list_item a:hover {
		background: rgba(255,255,255,.2);
	}
.menu_title{
	color:white;
}

.print_upload img{
	max-width:200px;
}


@media (max-width: 767px) {
	.menu_title{
		font-size:20px;
	}
	.list_item{
		font-size:18px;
	}	
}


.btn-block:hover,.btn-block:focus {
  background-color: rgb(105,0,210);
  color: #ffffff;
  webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
}


ul {
  list-style-type: none;
}

article[role="signup"] {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px 40px;
  margin-bottom: 20px;
  max-width:600px;
  margin:0 auto;
}

article[role="signup"] input[type="submit"] {
  padding: 10px 15px;
  font-size: 11px;
}

article[role="signup"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

article[role="signup"] h5 {
  font-size: 16px;
  font-weight: 300;
  color: rgb(105,0,210);
  margin-bottom: 20px;
}

article[role="signup"] p {
  font-size: 11px;
  padding: 5px 15px;
}
* {
    box-sizing: border-box;
    margin:0px;
}



/* Style the header */
.header {
    padding: 30px;
    text-align: center;
    height:15vh;
    width:100%;
}

/* Container for flexboxes */
.row {
    display: flex;
}


a{  
  color:white;

}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 767px) {

  #progressbar{
    display:none;
  }

}
      /*form styles*/
      #msform {
            max-width: 600px;
            /*min-width:350px;*/
            margin: 0 auto;
            text-align: center;
            position: relative;
      }
      #msform fieldset {
            background: white;
            border: 0 none;
            border-radius: 3px;
            box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            box-sizing: border-box;
            width: 90%;
            margin: 0 auto;  
            z-index:0;
            /*stacking fieldsets above each other*/
            position: relative;
      }
      /*Hide all except first fieldset*/
      #msform fieldset:not(:first-of-type) {
            display: none;
      }
      /*inputs*/
      #msform input, #msform textarea, #msform select {
            padding: 15px;
            border: 1px solid #ccc;
            border-radius: 3px;
            margin-bottom: 10px;
            width: 100%;
            box-sizing: border-box;
            font-family: montserrat;
            color: #2C3E50;
            font-size: 13px;
      }
      #msform label{
        float:left;
      }
      #msform select{
        margin-bottom:0px;
      }
      /*buttons*/
      #msform .action-button {
            width: 100px;
            background: rgb(105,0,210);
            font-weight: bold;
            color: white;
            border: 0 none;
            border-radius: 1px;
            cursor: pointer;
            padding: 10px 5px;
            margin: 10px 5px;
      }
      #msform .action-button:hover, #msform .action-button:focus {
            box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
      }
      /*headings*/
      .fs-title {
            font-size: 15px;
            text-transform: uppercase;
            color: #2C3E50;
            margin-bottom: 10px;
      }
      .fs-subtitle {
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 20px;
      }
      .input_text{
            font-weight: normal;
            font-size: 13px;
            color: #666;
            margin-bottom: 10px;     

      }
      /*progressbar*/
      #progressbar {
            margin-bottom: 30px;
            overflow: hidden;
            margin: auto;
            margin-bottom:30px;
            /*CSS counters to number the steps*/
            counter-reset: step;
      }
      #progressbar li {
            list-style-type: none;
            color: black;
            text-transform: uppercase;
            font-size: 14px;
            width: 33.33%;
            float: left;
            position: relative;
      }
      #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 20px;
            line-height: 20px;
            display: block;
            font-size: 10px;
            color: #333;
            background: white;
            border-radius: 3px;
            margin: 0 auto 5px auto;
      }
      /*progressbar connectors*/
      #progressbar li:after {
            content: '';
            width: 100%;
            height: 2px;
            background: white;
            position: absolute;
            left: -50%;
            top: 9px;
            z-index: -1; /*put it behind the numbers*/
      }
      #progressbar li:first-child:after {
            /*connector not needed before the first step*/
            content: none; 
      }
      /*marking active/completed steps green*/
      /*The number of the step and the connector before it = green*/
      #progressbar li.active:before,  #progressbar li.active:after{
            background: rgb(105,0,210);
            color: white;
      }


@media (max-width:767px){
  #msform fieldset{
    box-shadow:none;
    width:100%;
  }
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 50px 0;
    border: 1px solid #888;
    width: 90%;
    max-width:500px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/* Style the top navigation bar */
.topnav {
  display: flex;
  width: 340px;
  align-items: center;
  justify-content: center;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the content */
.datetime {
  background-color: #ddd;
  padding: 10px;
  height: 100px;
  display: flex;
  flex-direction: column;
  font-size: 1.2em;
  font-weight: 600;
}

.date {
  display: flex;
  justify-content: flex-start;
}

.time {
  display: flex;
  justify-content: flex-start;
}

#yy, #mm, #dd, #day {
  padding-right: 0.5em;
}

.index-container {
  margin-top: 20px;
}

.state-bar {
  text-align: right;
  margin-right: 20px;
}

.index-header-row {
  display: flex;
  justify-content: space-between;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
}



  /* Detail page */

.column{
  color:black;
  width:40vw;
  margin-left:auto;
  margin-right:auto;
  margin-bottom:50px;
  margin-top:50px;
}

.detailview{
  border:2px solid rgb(105,0,210);
  border-radius:5px;
  padding:40px;
  max-width:600px;

}
.detail_info{
  text-align:right;
}
.detail_title{
  text-align:left;
  font-size:20px;
  margin-bottom:40px;
}

#print_status{
  padding:0.5em;
  border:none;
  color:white;
  border-radius:10px;
}

.cancel-button:hover{
  background-color:rgb(105,0,210);
}

#point-button, .price-button{
  border-radius:10px;
  padding:0.5em;
  color:black;
  background-color:white;
  border:2px solid rgb(105,0,210);
}
#point-button:hover, .price-button:hover{
  color:white;
  background-color:rgb(105,0,210);
}
.price-button{
  min-width:100px;
}

@media (max-width: 767px) {
  .column{
    width:90vw;
  }
}

.custom-button{
  padding: 20px 100px;
  border-radius:10px;
  border: 3px solid rgb(105,0,210);
  /* border 색은 지정색*/
}
.custom-button:hover{
  color:white;
  background-color:rgb(105,0,210);
  transform-origin:left;
  transition:width 0.25s ease;
  z-index:-1;
}

.custom-button2{
  padding:20px 50px;
  border-radius:10px;
  border:1px solid black;
}
.custom-button2:hover{
  color:white;
  background-color:rgb(105,0,210);
}
