* {
    box-sizing: border-box;
    margin:0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x:hidden;
}

/* Style the header */
.header {
    padding: 30px;
    text-align: center;
    height:15vh;
    width:100%;
}

/* Container for flexboxes */
.row {
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 50px;
	   height:70vh;
     /* Should be removed. Only for demonstration */
     border:1px dotted white;
     margin:40px;
     border-radius:30px;
     text-align:center;
     color:white;
}

/* Left and right column */
.column.print_advertisement{
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   width:25vw;
}
.column.print_list{
-webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
   width:25vw;

}

/* upload column */
.column.print_upload {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    width:50vw;
}

/* Style the footer */
.footer {
    text-align: center;
    height:15vh;
    bottom:0;
    width:100%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

a{  
  color:white;

}


/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
	.header{
	height:15vh;
	}

  .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
	.column{
  margin:10px 20px;
  }
   

	.column.print_advertisement{
	display:none;
	}

	.column.print_list{
	height:30vh;
	order:2;
	width:90%;
	}
	
	.column.print_upload{
	height:50vh;
	order:1;
	width:90%;
	}


	
}











