

*{
	box-sizing:border-box;
	margin:0;
}

body{
  background-color:light-grey;
  font-family: 'Roboto', sans-serif;
}

.login_container{
  width: 50vw;
  height: 60vh;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  display: inline-flex; 

}
.backbox{  
  background-color: #057075;
  width: 100%;
  height: 80%;
  position: absolute;
  transform: translate(0,-50%);
  top:50%;
  display: inline-flex;
}

.frontbox{
  background-color: white;
  border-radius: 20px;
  height: 100%;
  width: 50%;
  z-index: 10;
  position: absolute;
  right:0;
  margin-right: 3%;
  margin-left: 3%;
  transition: right .8s ease-in-out;
  border:1px solid grey;
}

.moving{
  right:45%;
}

.loginMsg{
  width: 50%;
  height: 100%;
  font-size: 15px;
  box-sizing: border-box;
}

.loginMsg .title{
  font-weight: 300;
  font-size: 11px;
}

.loginMsg p{
  font-weight: 100;
}

.textcontent{
  color:white;
  margin-top:65px;
  margin-left: 12%;
}

.loginMsg button{
  background-color: #057075;
  border: 2px solid white;
  border-radius: 10px;
  color:white;
  font-size: 12px;
  box-sizing: content-box;
  font-weight: 300;
  padding:10px;
  margin-top: 20px;
}


.login{
  padding: 20px;
  text-align: center;
}

.login h2{
  color: black;
  font-size:16px;
}


.login input{
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f2f2f2;
  border: none;
  margin-bottom:20px;
  font-size: 12px;
}

.login button{
  background-color: #057075;
  border: none;
  color:white;
  font-size: 12px;
  font-weight: 300;
  box-sizing: content-box;
  padding:10px;
  border-radius: 10px;
  width: 60px;
  position: absolute;
  right:30px;
  bottom: 30px;
  cursor: pointer;
}
.login p {
  cursor: pointer;
  color:#404040;
  font-size:11px;
}




.btn-block:hover,.btn-block:focus {
  background-color: #057075;
  color: #ffffff;
  webkit-transition: all 400ms cubic-bezier(.4,0,.2,1);
  transition: all 400ms cubic-bezier(.4,0,.2,1);
 
}



ul {
  list-style-type: none;
}

article[role="signup"] {
  background: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 10px rgba(0, 0, 0, 0.24);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 20px 40px;
  margin-bottom: 20px;
  max-width:600px;
  margin:0 auto;
}

article[role="signup"] input[type="submit"] {
  padding: 10px 15px;
  font-size: 11px;
}

article[role="signup"]:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 1px 15px rgba(0, 0, 0, 0.23);
  webkit-transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

article[role="signup"] h5 {
  font-size: 16px;
  font-weight: 300;
  color: #057075;
  margin-bottom: 20px;
}

article[role="signup"] p {
  font-size: 11px;
  padding: 5px 15px;
}

.login-signup {
  height:60vh;
  margin:0 auto;
  margin-top:10px;
  max-width:400px;

}

.signup{
  font-size:11px;
}

.form-control{
  font-size:11px;

}


@media only screen and (max-width: 767px) {
  .mobile-pull {
    float: none;
  }

  .backbox{
    display:none;
  }
  .frontbox{
    width:100%;
    border:none;
  }
  .login_container{
    width:90vw;
  }
  .register_button{
    display:inline;
  }

}
