<p>안녕하세요 <%= @resource.email %>님!</p>

<p>뽀바드림에서 비밀번호를 바꾸기 위해 요청하셨나요?</p>
<p>맞다면 아래의 링크를 눌러 비밀번호를 변경해 주세요:</p>

<p><%= link_to '비밀번호 변경하러가기', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>만일 비밀번호를 변경하기 위한 요청을 한 적 없다면 이 메일을 무시해 주세요.</p>
<p>회원님의 기존 비밀번호는 위의 링크에 접속하여 새로운 비밀번호로 변경하기 전까지 바뀌지 않습니다.</p>
